# Rain Prediction in Australia üå¶Ô∏è
## [Kaggle Main Reference](https://www.kaggle.com/code/ahmedbaalash/rain-prediction-in-australia-using-ml-91)
#### Courtesy to Ahmed Baalash

Key variables include:

- Date ‚Äì Observation date
- Location ‚Äì Weather station
- MinTemp / MaxTemp ‚Äì Minimum and maximum temperature
- Rainfall ‚Äì Amount of rain in mm
- Wind & Humidity ‚Äì Recorded at 9am and 3pm
- RainToday / RainTomorrow ‚Äì Binary indicators for rain occurrence

This notebook aims to:

1. Clean and preprocess the data:
    - Handle missing values
    - Convert categorical data to numerical formats
    - Normalize or scale relevant features
1. Explore the dataset:
    - Perform univariate and multivariate analysis
    - Visualize distributions, trends, and correlations
1. Model the data:
    - Predict the target variable: `RainTomorrow`
    - Train and evaluate classification models (e.g., Logistic Regression, Random Forest, etc.)
1. Evaluate model performance using:
    - Accuracy, Precision, Recall, F1-Score, ROC-AUC
  
#### Target Variable
The main target for prediction is:
- `RainTomorrow`: whether it will rain the next day (Yes or No)

This is a binary classification problem, ideal for testing and comparing machine learning models on imbalanced real-world data.

In [1]:
import os
import numpy as np
import pandas as pd

#### Data Loading & Initial Cleaning

In [2]:
data_df = pd.read_csv(os.path.join('data', 'weatherAUS.csv'))

In [3]:
data_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [7]:
data_df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [9]:
# Drop columns with alot of NaN values
data_df.drop(["Evaporation","Sunshine","Cloud9am","Cloud3pm"],axis=1 , inplace = True)
data_df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [12]:
data_df = data_df.dropna()

In [14]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112925 entries, 0 to 145458
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           112925 non-null  object
 1   Location       112925 non-null  object
 2   MinTemp        112925 non-null  float64
 3   MaxTemp        112925 non-null  float64
 4   Rainfall       112925 non-null  float64
 5   WindGustDir    112925 non-null  object
 6   WindGustSpeed  112925 non-null  float64
 7   WindDir9am     112925 non-null  object
 8   WindDir3pm     112925 non-null  object
 9   WindSpeed9am   112925 non-null  float64
 10  WindSpeed3pm   112925 non-null  float64
 11  Humidity9am    112925 non-null  float64
 12  Humidity3pm    112925 non-null  float64
 13  Pressure9am    112925 non-null  float64
 14  Pressure3pm    112925 non-null  float64
 15  Temp9am        112925 non-null  float64
 16  Temp3pm        112925 non-null  float64
 17  RainToday      112925 non-null  object
 18  RainTomorrow   112925 non-null  object
dtypes: float64(12), object(7)
memory usage: 17.2+ MB