In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [8]:
# dictionary of column-values pairs
data = {
    'name': ['A', 'B', 'C'],
    'age': [10, 11, 12]
}
df = pd.DataFrame(data)
df

  name  age
0    A   10
1    B   11
2    C   12

In [10]:
# list of rows
data = [
    ['D', 13],
    ['E', 14],
    ['F', 15],
]
df = pd.DataFrame(data, columns=['name', 'age'])
df

  name  age
0    D   13
1    E   14
2    F   15