In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [11]:
# dictionary of column-values pairs
data = {
    'name': ['A', 'B', 'C'],
    'age': [10, 11, 12]
}
df1 = pd.DataFrame(data)
df1

  name  age
0    A   10
1    B   11
2    C   12

In [12]:
# list of rows
data = [
    ['D', 13],
    ['E', 14],
    ['F', 15],
]
df2 = pd.DataFrame(data, columns=['name', 'age'])
df2

  name  age
0    D   13
1    E   14
2    F   15

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

...more

Create DataFrame
- From Python dict
- From list of dictionaries
- From list of lists
- From NumPy array
- From CSV / Excel file

Importing and Exporting Data
- Read CSV
- Write CSV
- Read Excel
- Write Excel

Inspecting Data
- `.head()`, `.tail()`
- `.shape`
- `.info()`
- `.describe()`
- `.columns`
- `.dtypes`
- `.isnull().sum()`

Selecting & Indexing
- Selecting columns
- Selecting rows; `.loc`, `.iloc`
- Slicing

Filtering Rows (Boolean Indexing)
- `df[df['age'] > 20]`
- `df[(df['age'] > 20) & (df['salary'] < 5000)]`

Adding / Removing Columns
- `df['new'] = df['a'] + df['b']`
- `df.drop('col', axis=1)`

Handling Missing Values
- `isna()`, `notna()`
- Fill missing: `fillna()`
- Remove missing: `dropna()`

Data Types
- Checking data types
    - `df.dtypes`
    - `df['date'].dtype`
- Converting data types
    - `df['col'] = df['col'].astype(int)`
    - `df['col'] = df['col'].astype(float)`
    - `df['col'] = df['col'].astype(str)`
- Handling Dates & Times (Datetime)
- Convert string to datetime
    - `df['date'] = pd.to_datetime(df['date'])`
- Extracting date componenets
    - `df['year'] = df['date'].dt.year`
    - `df['month'] = df['date'].dt.month`
    - `df['day'] = df['date'].dt.day`
    - `df['weekday'] = df['date'].dt.day_name()`
- Date differences
    - `df['days_diff'] = (df['end'] - df['start']).dt.days`

Sorting
- `sort_values()`
- `sort_index()`

Grouping and Aggregation
- `df.groupby('city')['salary'].mean()`
- `df.groupby('city').agg({'salary':'sum','age':'mean'})`

Combining DataFrames (Merging)
- `concat`
- `merge` (SQL-like)

Applying Functions
- `apply`
- `applymap`
- `map`